.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
}

img.profilePic {
    width: 90%;
    max-width: 250px;
    border-radius: 50%;
}

.header {
    text-align: center;
    padding: 20px 0 0;
}

.header h1 {
    font-size: 50px;
}

.contact {
    padding-top: 1em;
}

h1.section-title {
    color: #8C1515; /* Cardinal Red */
    text-align: center;
    margin: 1em 0em 0.7em;
}

div.image-wrapper {
    text-align: center;
}

.row img {
    max-width: 100%;
    height: auto;
    padding-bottom: 1em;
    text-align: center;
}

.row h3 {
    margin-top: 0px;
}

.time {
    font-style: italic;
}

button.btn.collapsed:before {
    content: 'Show More';
}

button.btn:before {
    content: 'Show Less';
}

.footer {
    padding: 3em 0 1em;
    text-align: center;
}

.cardinalRed {
    color: #8C1515; /* Cardinal Red */
}