/*******************
 * BASICS
 ******************/

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none !important;
}

.cardinal-red {
  color: #8C1515 !important; /* Cardinal Red */
}

img {
  max-width: 100%;
}

/*******************
 * HEADERS - DONE
 ******************/
.header {
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 1.5em black;
}

.header-page {
  background-color: #159957; /* VAR: $header-bg-color */
  background-image: linear-gradient(120deg, #155799, #159957); /* VARS: $header-bg-color, $header-bg-color-secondar */
  padding: 1.25em 0; /* padding for top and bottom only */
}

.header-home {
  background: url("../images/banner_home.jpg") center center/cover;
}

.page-description {
  padding-top: 0.25em;
}

#profile-pic {
  width: 90%;
  max-width: 250px;
  border-radius: 50%;
  border: 8px solid white;
  box-shadow: 0 0 1.5em black;
}

ul.contact {
  margin: 0;
}

.contact li.list-inline-item {
  margin: 1em 10px 0 10px;
}

.contact a,
.contact a:visited,
.contact a:focus {
  color: white !important;
  border: 3px solid white;
  box-shadow: 0 0 1.5em black;
  background-color: rgba(128, 128, 128, 0.4);
}

.contact a:hover,
.contact a:active {
  border-color: black !important;
  background-color: black !important;
  outline: 0;
}

/*******************
 * FOOTER
 ******************/
.site-footer {
  padding: 1em 0;
}

/*******************
 * HOME
 ******************/
.post-list {
  margin-left: 0;
  list-style: none;
}

.post-list li {
  margin-bottom: 1.5em;
}

.post-meta {
  font-size: 0.8rem;
  color: grey;
}

/*******************
 * PROJECTS and ABOUT
 ******************/
.content-row img {
  height: auto;
  padding-bottom: 1em;
}

.content-row .image-wrapper {
  text-align: center;
}

.content-row div a.btn {
  margin-bottom: 0.5em;
}

/*******************
 * GENERAL
 ******************/
body {
  position: relative;  /* for Scrollspy */
  overflow-wrap: break-word;  /* put long words on new line before trying to break them */
}

/* Make buttons rectangular: override the Bootstrap default */
.btn {
  border-radius: 0;
  transition: all .3s ease-in-out;
}

h1.section-title {
  color: #8C1515; /* Cardinal Red */
  margin: 1em 0em 0.7em;
}

/* Code
 * - inline code is simply <code>...</code>
 * - code blocks are <div class="highlight"><pre class="highlight"><code>...</code></pre></div>
 */

pre, code { /* all code */
  color: #567482;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;

  /* do not break words */
  overflow-wrap: normal;
  word-break: normal;
}

/* Properties for inline code only. They are overwritten by the `pre code`
 * selector below for code blocks. */
code {
  background-color: #f3f6fa;
  border-radius: 0.3rem;
  padding: 2px 4px;
}

pre { /* generic <pre> */
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;
  line-height: 1.45;
  -webkit-overflow-scrolling: touch;
}

pre code { /* code blocks only */
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0;
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: lightgray;
  padding: 0.2rem 0.5rem;
}
summary {
  font-style: italic;
}
details[open] > summary {
  padding-bottom: .5em;
}

table {
  display: block;
  width: 100%;
  margin-bottom: 1rem;  /* to match paragraphs */
  overflow: auto;
  word-break: normal;
  -webkit-overflow-scrolling: touch;
}
table th {
  font-weight: bold;
}
table th,
table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}

dl {
  padding: 0;
}
dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
dl dd {
  padding: 0;
  margin-bottom: 1rem;
}

hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}

/*******************
 * TOC
 * - inspired by the right sidebar on https://getbootstrap.com/docs/4.4/
 ******************/

.toc-nav { /* <nav> */
  position: sticky;
  top: 0;
  height: min-content;
  max-height: 100vh;
  overflow-y: auto;
  border-left: 1px solid #eee;
  padding-bottom: 0.5rem;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.toc-nav::-webkit-scrollbar {
  display: none;
}

.toc-nav ul {
  margin: 0;
  padding-left: 1rem;  /* indent each level by an additional 1rem */
  list-style-type: none;
  display: block;
}

.toc-nav li a {
  display: block;
  margin-top: 0.3rem;
  color: #77757a;
  padding: 0;
}

.toc-nav li a:hover,
.toc-nav li a.active {
  color: #007bff;
  text-decoration: none;
}

.toc-nav nav {
  position: sticky;
  top: 0;
  padding-right: 0;  /* remove extra padding from Bootstrap's .navbar */
}

#show-sidebar {
  position: sticky;
  top: 0.5rem;
  margin-top: 0.5rem;  /* match `top: 0.5rem` when the button isn't "stuck" yet */
  float: right;
  background-color: white;
}
