<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Universal Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105585325-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-105585325-1');
</script>

<!-- GA-4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L71HSZKVGC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L71HSZKVGC');
</script>