{% if page.layout == 'home' %}

<div class="jumbotron jumbotron-fluid header header-home">
  <div class="container">

    <div class="row">
      <div class="col-12 col-md-4 col-lg-3 mb-3 mb-md-0">
        <!-- TODO: vertically center align this -->
        <img id="profile-pic" src="{{ site.baseurl }}/images/chrisyeh_700px_square.jpg">
      </div>
      <div class="col-12 col-md-8 col-lg-9">
        <h1>Chris Yeh</h1>
        <h2>Stanford University | CS | 2018</h2>
        
        <!-- Contact -->
        <div class="contact">
          <ul class="list-inline banner-social-buttons">
            <li class="list-inline-item">
              <a class="btn btn-secondary" href="https://drive.google.com/file/d/0B-7rmGyO0CsvVEhxXzRiQVZhUXc/view">
                <i class="far fa-file-pdf"></i> Resume
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-secondary" href="mailto:chrisyeh@stanford.edu">
                <i class="far fa-envelope"></i> Email
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-secondary" href="https://www.linkedin.com/in/chrisyeh96">
                <i class="fab fa-linkedin"></i> LinkedIn
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-secondary" href="https://www.github.com/chrisyeh96">
                <i class="fab fa-github"></i> GitHub
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="jumbotron jumbotron-fluid header header-page">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.description }}</h2>
  </div>
</div>

{% endif %}