{%- if project.thumbnail -%}
  {%- assign thumbnail_start = project.thumbnail | slice: 0 3 -%}
  {%- if thumbnail_start == "http" -%}
    {%- assign img_src = project.thumbnail -%}
  {%- else -%}
    {%- assign img_src = site.baseurl | append: "/images/" | append: project.thumbnail -%}
  {%- endif -%}

  {%- if project.thumbnail_white_bg -%}
    {%- assign bg_class = "bg-white" -%}
  {%- else -%}
    {%- assign bg_class = "" -%}
  {%- endif -%}
{%- endif -%}

<div class="row content-row">
<div class="col-sm-5 col-lg-4 image-wrapper">
  {%- if project.thumbnail -%}
    {%- if project.modal -%}
      <img data-bs-toggle="modal" data-bs-target="#project-modal-{{ project_counter }}"
        class="project-img rounded {{ bg_class }}" src="{{ img_src }}">
    {%- else -%}
      <img class="project-img rounded {{ bg_class }}" src="{{ img_src }}">
    {%- endif -%}
  {%- endif -%}
  {%- if project.thumbnail_caption -%}
    {{ project.thumbnail_caption | markdownify }}
  {%- endif -%}
</div>
<div class="col-sm-7 col-lg-8">
  <h3>{{ project.title }}</h3>
  {%- if project.setting -%}
  <div class="fst-italic">{{ project.setting | markdownify }}</div>
  {%- endif -%}
  {{ project.description | markdownify }}
  {%- if project.info -%}
    {{ project.info | markdownify }}
  {%- endif -%}
  {%- for media in project.media -%}
    <a href="{{ media.url }}" class="btn bg-body-secondary me-3">
      {%- if media.type == "pdf" -%}<i class="fas fa-file">
      {%- elsif media.type == "github" -%}<i class="fab fa-github">
      {%- elsif media.type == "code" -%}<i class="fas fa-code">
      {%- elsif media.type == "youtube" -%}<i class="fab fa-youtube">
      {%- elsif media.type == "video" -%}<i class="fas fa-play-circle">
      {%- else -%}<i class="fas fa-external-link-alt">
      {%- endif -%}
      </i> {{ media.name }}
    </a>
  {%- endfor -%}
</div>
</div>

{%- if project.modal -%}
<div id="project-modal-{{ project_counter }}" class="modal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img class="project-img rounded mb-3 {{ bg_class }}" src="{{ img_src }}">
        {%- if project.thumbnail_caption -%}
          {{ project.thumbnail_caption | markdownify }}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{%- endif -%}